.giaodien{
    display: flex;
}
.sidebar{
    text-align: left;
    width: 100px;
    background-color: rgb(212, 203, 174);
    color: black;
    padding: 0px;
    height: 200px;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar li a {
    display: block;
}

.sidebar a:link {
    color: rgb(7, 85, 252);

}
.sidebar a:visited{
    color: rgb(248, 8, 8);
}
.sidebar a:hover{
    color: brown;
    background-color: aqua;

}
.sidebar a:active{
    color: blueviolet;
}