#p2{
  width: 700px;
  height: 100px;
  background-color: rgb(241, 232, 220);
  border: 2px solid white;
  padding: 10px;
  margin: 0px;
  margin-left: 0px red;
  border-radius: 0px;
}
.orange{
    color: orange;
}